

.container-videoBg {
    margin-top: -300px;
    position: relative;
    width: 100%;
    height: 60vh; /* Ajuste a altura conforme necessário */
    overflow:hidden;
  
   
  }
  
  .container-videoBg video {
    opacity: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 54%;
    object-fit:cover; /* Ajusta o vídeo para cobrir toda a área */
    z-index: -2; /* Coloca o vídeo atrás do texto */
  }








/*Responsive  */
@media (max-width: 415px) {  
  

  
.container-videoBg {
  margin-top: -200px;
  position: relative;
  width: 100%;
  height: 60vh; /* Ajuste a altura conforme necessário */
  overflow:hidden;
 
}

.container-videoBg video {
  opacity: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 54%;
  object-fit:cover; /* Ajusta o vídeo para cobrir toda a área */
  z-index: -1; /* Coloca o vídeo atrás do texto */
}
}