.container-carousel {
  margin-left: 52px;
  position: relative;
  width: 71%;
  max-width: 400px;
  height: 500px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 2px 24px rgba(255, 255, 255, 0.855);
  margin-bottom: 20px; /* Espaçamento entre as seções */
}

.gallery {
  display: flex;
  transition: transform 0.5s ease;
  width: 100%; /* Largura total da galeria */
}

.gallery img {
  width: 540px; /* Cada imagem ocupa 100% da largura do carrossel */
  height: 490px; /* Cada imagem ocupa 100% da altura do carrossel */
  object-fit: cover;
  flex-shrink: 0; /* Impede que as imagens encolham */
}

.controls {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.control {
  background-color: rgba(243, 11, 11, 0.7);
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 15px;
  border-radius: 20%;
  transition: background-color 0.3s;
}

.control:hover {
  background-color: rgb(230, 14, 14);
}
.img1 {  
  width: 500px!important; /* ou outro valor, como 321px, dependendo do seu layout */  
  height: 440px; /* mantém a proporção da imagem */  
  max-width: 321px; /* define um limite máximo para a largura */  
  display: block; /* garante que a imagem seja tratada como um bloco */  
  margin: 0 auto; /* centraliza a imagem se o contêiner permitir */  
}  

.img2 {
  width: 321px !important;
  height: 500px !important;
}

.img3 {
  width: 320px !important;
  height: 500px !important;
}

.img4 {
  width: 322px !important;
  height: 500px !important;
}

.img5 {
  width: 320px !important;
  height: 500px !important;
}

.img6 {
  width: 320px !important;
  height: 500px !important;
}

.img7 {
  width: 320px !important;
  height: 500px !important;
}




@media (max-width: 415px) {
  
 .container-carousel-box {
  display: flex!important;
  background-size: cover !important;
  
  justify-content: center !important;
  justify-items: center !important;
 }

.container-carousel {
  margin-left: 0;
  position: relative;
  width: 320px;
  max-width: 400px;
  height: 500px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 2px 24px rgba(238, 0, 0, 0.976);
  margin-bottom: 20px; /* Espaçamento entre as seções */
}

.gallery {
  display: flex;
  transition: transform 0.5s ease;
  width: 100%; /* Largura total da galeria */
}

.gallery img {
  width: 540px; /* Cada imagem ocupa 100% da largura do carrossel */
  height: 490px; /* Cada imagem ocupa 100% da altura do carrossel */
  object-fit: cover;
  flex-shrink: 0; /* Impede que as imagens encolham */
}

.controls {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.control {
  background-color: rgba(243, 11, 11, 0.7);
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 15px;
  border-radius: 20%;
  transition: background-color 0.3s;
}

.control:hover {
  background-color: rgb(230, 14, 14);
}
.img1 {  
  width: 500px !important;
  height: 500px !important;
}  

.img2 {
  width: 319px !important;
  height: 500px !important;
}

.img3 {
  width: 320px !important;
  height: 500px !important;
}

.img4 {
  width: 322px !important;
  height: 500px !important;
}

.img5 {
  width: 320px !important;
  height: 500px !important;
}

.img6 {
  width: 320px !important;
  height: 500px !important;
}

.img7 {
  width: 320px !important;
  height: 500px !important;
}
}